@media (max-width: 1150px) {
    body {
        width: 100%;
        display: block;
    }
    .container {
        width: 750px;
        display: block;
        margin: 0 auto;
    }
    .main__left {
        margin: 0 auto;
        margin-top: 20px;
        width: 750px;
        &-info {
            padding-left: 40%;
        }
    }
    .main__right {
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media (max-width: 992px) {
    body {
        height: 1240px;
        margin: 0 auto;
    }
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .main__left {
        margin: 0 auto;
        margin-top: 10px;
        width: 95%;
        &-info {
            padding-left: 40%;
        }
    }
    .main__right {
        width: 95%;
        &-common-wrapper {
            display: flex;
            width: 200%;
        }
        &-common-wrapper-1 {
            width: 50%;
            transform: translateX(-100%);
            transition: all .5s;
        }.active-wrap-1 {
            transform: translateX(0%);
        }
        &-common-wrapper-2 {
            width: 50%;
            transform: translateX(0%);
            transition: all .5s;
        }.active-wrap-2 {
            transform: translateX(-100%);
        }
        &-about {
            margin-left: 42px;
            font-size: 35px;
        }
        &-descr {
            margin-left: 42px;
            font-weight: 500;
            width: 90%; 
            font-size: 16px;
            max-height: 125px;
        }
        &-skills {
            padding-left: 0px;
            margin-top: 80px;
        }
        &-wrap-block {
            margin-top: -10px;
            padding-left: 42px;
        }
        &-doing {
            font-size: 24px;
            margin-left: 42px;
        }
        &-blocks {
            width: 45%;
            &:nth-child(2n) {
                margin-left: 28px;
            }
            &-wrap {
                width: 70%;
            }
        }
        &-portfolio {
            margin-top: 32px;
            height: 500px;
            padding-left: 0px;
            &-wrapper {
              display: flex;
              padding-left: 42px;
            }
            &-blocks {
              width: 40%;
              height: 108px;
              border-radius: 12px;
              margin-top: 24px;
              background-repeat: no-repeat;
              background-size: cover;
              &:nth-child(2n) {
                margin-left: 12%;
              }
              &-hide {
                  opacity: 0.4;
              }
              &-descr {
                  opacity: 1;
                  top: 50%;
                  font-size: 13px;
              }
            }
        }
    }
}

@media (max-width: 600px) and (min-width: 401px) {
    body {
        display: block;
    }
    .container {
        width: 100%;
        display: block;
        margin: 0 auto;
        min-height: 1480px;
    }
    .main__left {
        margin: 0 auto;
        margin-top: 10px;
        width: 95%;
        &-info {
            padding-left: 35%
        }
    }
    .main__right {
        margin: 0 auto;
        margin-top: 20px;
        width: 95%;
        height: 850px;
        &-common-wrapper {
            display: flex;
            width: 200%;
        }
        &-common-wrapper-1 {
            width: 50%;
            transform: translateX(-100%);
            transition: all .5s;
        }.active-wrap-1 {
            transform: translateX(0%);
        }
        &-common-wrapper-2 {
            width: 50%;
            transform: translateX(0%);
            transition: all .5s;
        }.active-wrap-2 {
            transform: translateX(-100%);
        }
        &-about {
            margin-left: 22px;
            font-size: 30px;
            &::after {
                height: 3px;
                bottom: -8px;
            }
        }
        &-descr {
            margin-left: 22px;
            margin-top: 20px;
            width: 90%;
            height: 100px;
            font-size: 14px;
        }
        &-skills {
            padding-left: 0px;
            padding-top: 26px;
            height: 1000px;
        }
        &-wrap-block {
            display: block;
            margin-top: -10px;
            padding-left: 0px;
        }
        &-doing {
            font-size: 18px;
            margin-left: 22px;
        }
        &-blocks {
            width: 80%;
            height: 108px;
            margin: 0 auto;
            margin-top: 24px;
            padding-top: 5px;
            
            &:nth-child(2n) {
                margin: 0 auto;
                margin-top: 20px;
            }
            &:hover {
                box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
            }
            &-img {
                left: 15px;
                top: 20px;
            }
            &-wrap {
                width: 75%;
            }
            &-title {
                font-size: 15px;
                line-height: 15px;
            }
            &-subtitle {
                font-size: 13px;
                margin-top: 7px;
            }
        }   
        &-portfolio {
            margin-top: 80px;
            padding-left: 0px;
            height: 1000px;
            &-wrapper {
              display: block;
              flex-wrap: wrap;
              margin-top: -11px;
              padding-left: 0px;
            }
            &-blocks {
                width: 270px;
                height: 108px;
                margin: 0 auto;
                margin-top: 19px;
                
                &:nth-child(2n) {
                  margin-left: 0px;
                  margin: 0 auto;
                  margin-top: 19px;
                }
                &-hide {
                    opacity: 0.3;
                }
                &-descr {
                    opacity: 1;
                    top: 50%;
                    font-size: 13px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    body {
        display: block;
    }
    .container {
        width: 390px;
        display: block;
        margin: 0 auto;
        min-height: 1450px;
    }
    .main__left {
        margin: 0 auto;
        margin-top: 10px;
        width: 350px;
        &-info {
            padding-left: 85px;
        }
    }
    .main__right {
        margin: 0 auto;
        margin-top: 20px;
        width: 350px;
        height: 820px;
        &-common-wrapper {
            display: flex;
            width: 200%;
        }
        &-common-wrapper-1 {
            width: 50%;
            transform: translateX(-100%);
            transition: all .5s;
        }.active-wrap-1 {
            transform: translateX(0%);
        }
        &-common-wrapper-2 {
            width: 50%;
            transform: translateX(0%);
            transition: all .5s;
        }.active-wrap-2 {
            transform: translateX(-100%);
        }
        &-about {
            margin-left: 22px;
            font-size: 23px;
            &::after {
                height: 3px;
                bottom: -5px;
            }
        }
        &-descr {
            margin-left: 22px;
            margin-top: 15px;
            width: 270px; 
            font-size: 12px;
        }
        &-skills {
            padding-left: 0px;
            padding-top: 26px;
            height: 1000px;
        }
        &-wrap-block {
            display: block;
            margin-top: -10px;
            padding-left: 0px;
        }
        &-doing {
            font-size: 18px;
            margin-left: 22px;
        }
        &-blocks {
            width: 230px;
            height: 108px;
            margin: 0 auto;
            margin-top: 24px;
            padding-top: 5px;
            
            &:nth-child(2n) {
                margin: 0 auto;
                margin-top: 20px;
            }
            &:hover {
                box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
            }
            &-img {
                left: 15px;
                top: 20px;
            }
            &-wrap {
                margin-left: 50px;
                width: 160px;
            }
            &-title {
                font-size: 15px;
                line-height: 15px;
            }
            &-subtitle {
                font-size: 13px;
                margin-top: 7px;
            }
        }   
        &-portfolio {
            margin-top: 44px;
            padding-left: 0px;
            padding-top: 26px;
            height: 1000px;
            &-wrapper {
              display: flex;
              flex-wrap: wrap;
              margin-top: -11px;
              padding-left: 0px;
            }
            &-blocks {
                width: 230px;
                height: 108px;
                margin: 0 auto;
                margin-top: 19px;
                
                &:nth-child(2n) {
                  margin-left: 0px;
                  margin: 0 auto;
                  margin-top: 19px;
                }
                &-hide {
                    opacity: 0.3;
                }
                &-descr {
                    opacity: 1;
                    top: 50%;
                    font-size: 13px;
                }
            }
        }
    }
}


















/* .main__right {
    margin: 0 auto;
    margin-top: 20px;
    width: 95%;
    height: 630px;
    &-common-wrapper {
        display: flex;
        width: 200%;
    }
    &-common-wrapper-1 {
        width: 50%;
        transform: translateX(-100%);
        transition: all .5s;
    }.active-wrap-1 {
        transform: translateX(0%);
    }
    &-common-wrapper-2 {
        width: 50%;
        transform: translateX(0%);
        transition: all .5s;
    }.active-wrap-2 {
        transform: translateX(-100%);
    }
    &-about {
        margin-left: 22px;
        font-size: 30px;
    }
    &-descr {
        width: 480px; 
        font-size: 16px;
        margin-left: 22px;
    }
    &-skills {
        height: 700px;
        padding-left: 22px;
    }
    &-blocks {
        width: 255px;
        height: 108px;
        background-color: #fff;
        border-radius: 12px;
        margin-top: 24px;
        position: relative;
        transition: all 0.3s;
        &:nth-child(2n) {
            margin-left: 88px;
        }
        &-img {
            left: 18px;
        }
        &-wrap {
            margin-left: 55px;
            margin-top: 24px;
            width: 190px;
        }
    }
    &-portfolio {
        margin-top: 62px;
        background: rgba(196, 196, 196, 0.4);
        padding-left: 22px;
        padding-top: 36px;
        height: 500px;
        &-wrapper {
          display: flex;
        }
        &-blocks {
          width: 255px;
          height: 108px;
          border-radius: 12px;
          margin-top: 24px;
          &:nth-child(2n) {
            margin-left: 88px;
          }
          &-hide {
              opacity: 0.4;
          }
          &-descr {
              opacity: 1;
              top: 50%;
              font-size: 13px;
          }
        }
    }
}    */